<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS2 example -
https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_description/rrbot_description/urdf/rrbot.urdf.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bolt">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find ros2_description_bolt)/urdf/system_bolt_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ros2_description_bolt)/gazebo/system_bolt.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find ros2_description_bolt)/ros2_control/system_bolt.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:system_bolt parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:system_bolt>

  <xacro:system_bolt_ros2_control
    name="Bolt" prefix="$(arg prefix)" />

</robot>
